{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Request rejected
        </h1>
      </div>

      <h2 class="nhsuk-heading-m">
        <br>What happens next?
      </h2>

      <p>Jane has been notified that the request has been rejected. They may resubmit the request in future.</p>

      <p>The contract end date has not been changed and you do not need to do anything more at this time.</p>

      <p><a href="unchanged-contract-view">Return to contract 99017500001</a></p>

    </div>
  </div><br>

{% endblock %}
