<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Contract details
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/clinician/landing-page",
        text: "Home"
      }
    ],
    href: "/clinician/contract-management/create/create-contract",
    text: "Create Contract"
  }) }}
{% endblock %}

<!-- Back link -->
{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>
        Create Contract
      </h1>

      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <ul class="nhsuk-tabs__list">
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#general-panel">
              General
            </a>
          </li>
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#services-panel">
              Services
            </a>
          </li>
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#location-panel">
              Location
            </a>
          </li>
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#performer-panel">
              Performers
            </a>
          </li>
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#activity-panel">
              Activity
            </a>
          </li>
        </ul>
        <!-- GENERAL -->
        <div class="nhsuk-tabs__panel" id="general-panel">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">

              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="contract-name">
                  Contract Name
                </label>
                <input class="nhsuk-input" id="contract-name" name="contract-name" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="commissioner">
                  Commissioner
                </label>
                <input class="nhsuk-input" id="commissioner" name="commissioner" type="text">
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="contract-type">
                  Contract Type
                </label>
                <select class="nhsuk-select" id="contract-type" name="contract-type">
                  <option value="1" selected>Select</option>
                  <option value="2">GDS</option>
                  <option value="3">PDS</option>
                </select>
              </div>

              <form>
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-u-visually-hidden">
                      Pilot
                    </legend>
            
                    <div class="nhsuk-checkboxes">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="pilot" name="pilot" type="checkbox" value="true">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold nhsuk-checkboxes__label" for="pilot">
                          Pilot
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="provider">
                  Provider
                </label>
                <input class="nhsuk-input" id="provider" name="provider" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="contract-location">
                  Contract Location
                </label>
                <input class="nhsuk-input" id="contract-location" name="contract-location" type="text">
              </div>
          
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-u-visually-hidden">
                    What is your address?
                </legend>
              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-line-1">
                    Building and street <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                  </label>
                  <input class="nhsuk-input" id="address-line-1" name="address-line-1" type="text">
                </div>
              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-line-2">
                    <span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>
                  </label>
                  <input class="nhsuk-input" id="address-line-2" name="address-line-2" type="text">
                </div>
              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-town">
                    Town or city
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
                </div>
              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-county">
                    County
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-county" name="address-county" type="text">
                </div>
              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-postcode">
                    Postcode
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
                </div>
              </fieldset>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="catagory-code">
                  Catagory Code
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="catagory-code" name="catagory-code" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="subcategory-code">
                  Subcategory Code
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="subcategory-code" name="subcategory-code" type="text">
              </div>

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" role="group">
                  <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="contract-start-date">
                    Contract Start Date
                  </legend>
          
                  <div class="nhsuk-date-input" id="contract-start-date">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
          
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" role="group">
                  <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="contract-end-date">
                    Contract End Date
                  </legend>
          
                  <div class="nhsuk-date-input" id="contract-end-date">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="end-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-day" name="end-day" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="end-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-month" name="end-month" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="end-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="end-year" name="end-year" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="closure-reason">
                  Closure Reason
                </label>
                <select class="nhsuk-select" id="closure-reason" name="closure-reason">
                  <option value="1" selected>Select</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 2</option>
                </select>
              </div>
          
              <form>
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-u-visually-hidden">
                      Not Paid By NHSBSA
                    </legend>
            
                    <div class="nhsuk-checkboxes">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="not-paid-by-nhsbsa" name="not-paid-by-nhsbsa" type="checkbox" value="true">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold nhsuk-checkboxes__label" for="not-paid-by-nhsbsa">
                          Not Paid By NHSBSA
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>

              <form>
                <div class="nhsuk-form-group">
                  <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-u-visually-hidden">
                      Data Collection Only Contract
                    </legend>
            
                    <div class="nhsuk-checkboxes">
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="data-collection-only-contract" name="data-collection-only-contract" type="checkbox" value="true">
                        <label class="nhsuk-label nhsuk-u-font-weight-bold nhsuk-checkboxes__label" for="data-collection-only-contract">
                          Data Collection Only Contract
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="local-dental-committee">
                  Local Dental Committee
                </label>
                <input class="nhsuk-input" id="local-dental-committee" name="local-dental-committee" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="prison-indicator">
                  Prison Indicator
                </label>
                <select class="nhsuk-select" id="prison-indicator" name="prison-indicator">
                  <option value="1" selected>Select</option>
                  <option value="2">Yes</option>
                  <option value="3">No</option>
                </select>
              </div>

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" role="group">
                  <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="provider-effective-date">
                    Provider Effective Date
                  </legend>
          
                  <div class="nhsuk-date-input" id="provider-effective-date">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="provider-effective-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="provider-effective-day" name="provider-effective-day" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="provider-effective-month">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="provider-effective-month" name="provider-effective-month" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="provider-effective-year">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="provider-effective-year" name="provider-effective-year" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="landline-phone-number">
                  Landline Phone Number
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="landline-phone-number" name="landline-phone-number" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="mobile-phone-number">
                  Mobile Phone Number
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile-phone-number" name="mobile-phone-number" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="email-address">
                  Email Address
                </label>
                <input class="nhsuk-input" id="email-address" name="email-address" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="website-address">
                  Website Address
                </label>
                <input class="nhsuk-input" id="website-address" name="website-address" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="contact-name">
                  Contact Name
                </label>
                <input class="nhsuk-input" id="contact-name" name="contact-name" type="text">
              </div>
          
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="category-notes">
                  Category Notes
                </label>
                <textarea class="nhsuk-textarea" id="category-notes" name="category-notes" rows="5"></textarea>
              </div>

              <a id="create-general-btn" class="nhsuk-button" data-module="nhsuk-button" href="#services-panel">
                Next
              </a>
            </div>
          </div>
        </div>
      
        <!-- SERVICES -->
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="services-panel">
          <div id="service-page-1">
            <p>Please add a service to the contract</p>
            <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" href="/clinician/contract-management/create/create-service">
              Add Service
            </a>
          </div>
          <div id="service-page-2" style="display: none;">
            <!-- RANGE -->
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-u-font-weight-bold" for="financial-year-range">
                Display Service Values For Financial Year
              </label>
              <select class="nhsuk-select" id="financial-year-range" name="financial-year-range">
                <option value="1" selected>2324</option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
              </select>
            </div>
            <!-- FIRST TABLE -->
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-u-visually-hidden">Services Table</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Service Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    R/RN
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Start Date
                  </th>
                  <th role="columnheader" class="" scope="col">
                    End Date
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Activity Unit
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Value
                  </th>
                  <th role="columnheader" class="" scope="col">
                    <span class="nhsuk-u-visually-hidden">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Service Name </span>High Street Dental Practice
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">R/NR </span>R
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Start Date </span>01/03/2018
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">End Date </span>31/03/2018
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Activity Unit </span>UDA
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Value </span>18516.82
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action </span>
                    <a href="/clinician/contract-management/create/create-contract#services-panel" class="nhsuk-link nhsuk-link--no-visited-state">Edit</a> 
                    / 
                    <a id="delete-service" href="/clinician/contract-management/create/create-contract#services-panel" class="nhsuk-link nhsuk-link--no-visited-state">Delete</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Service Name </span>High Street Dental Practice
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">R/NR </span>NR
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Start Date </span>01/04/2019
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">End Date </span>31/06/2019
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Activity Unit </span>Locally Determined
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Value </span>0.00
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action </span>
                    <a href="/clinician/contract-management/create/create-contract#services-panel" class="nhsuk-link nhsuk-link--no-visited-state">Edit</a> 
                    / 
                    <a id="delete-service-2" href="/clinician/contract-management/create/create-contract#services-panel" class="nhsuk-link nhsuk-link--no-visited-state">Delete</a>
                  </td>
                </tr>

              </tbody>
            </table>
            <!-- VALUES -->
            <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-summary-card-custom">
              <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--blueborder nhsuk-u-margin-bottom-0">
                  <div class="nhsuk-card__content">
                    <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">£18516.82 <span class="nhsuk-u-visually-hidden">Recurring Total</span></p><p class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Recurring Total</p>
                  </div>
                </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--blueborder nhsuk-u-margin-bottom-0">
                  <div class="nhsuk-card__content">
                    <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">£12000.00 <span class="nhsuk-u-visually-hidden">Non-Recurring Total</span></p><p class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Non-Recurring Total</p>
                  </div>
                </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--blueborder nhsuk-u-margin-bottom-0">
                  <div class="nhsuk-card__content">
                    <p class="nhsuk-heading-xl nhsuk-u-font-size-32 nhsuk-u-margin-bottom-1">£35016.82 <span class="nhsuk-u-visually-hidden">Total Contract Value</span></p><p class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Total Contract Value</p>
                  </div>
                </div>
              </li>
            </ul>

            <!-- SECOND TABLE -->
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-u-visually-hidden">Activity Table</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Activity Unit
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Recurring
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Non-Recurring
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Carry Over
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Activity Unit </span>UDA
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Recurring </span>6000
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Non-Recurring </span>12000
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Carry Over </span>0.00
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Activity Unit </span>Locally Determined
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Recurring </span>0
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Non-Recurring </span>0
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Carry Over </span>0.00
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="nhsuk-button-group nhsuk-u-margin-top-4">
              <a href="/clinician/contract-management/create/create-contract#location-panel" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Next
              </a>
              <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Add Another
              </button>
            </div>
          </div>
        </div>
        <!-- LOCATION -->
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="location-panel">
          <div id="location-page-1">
            <p>Please add a location to the contract</p>
            <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" href="/clinician/contract-management/create/create-location">
              Add Location
            </a>
          </div>
          <div id="location-page-2" style="display: none;">
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-u-visually-hidden">Location Table</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Practice Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Address Line 1
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Address Line 2
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Address Line 3
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Start Date
                  </th>
                  <th role="columnheader" class="" scope="col">
                    End Date
                  </th>
                  <th role="columnheader" class="" scope="col">
                    <span class="nhsuk-u-visually-hidden">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Practice Name </span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Address Line 1 </span>3 Pudding Plate Close
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Address Line 2 </span>Darlington
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Address Line 3 </span>Tonypandy
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Start Date </span>01/04/2006
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">End Date </span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action </span>
                    <a href="/clinician/contract-management/create/create-contract#location-panel" class="nhsuk-link nhsuk-link--no-visited-state">Edit</a> 
                    / 
                    <a id="delete-location" href="/clinician/contract-management/create/create-contract#location-panel" class="nhsuk-link nhsuk-link--no-visited-state">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="nhsuk-button-group nhsuk-u-margin-top-4">
              <a href="/clinician/contract-management/create/create-contract#performer-panel" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Next
              </a>
              <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Add Another
              </button>
            </div>
          </div>
        </div>
        <!-- PERFORMER -->
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="performer-panel">
          <div id="performer-page-1">
            <p>Please add a performer to the contract</p>
            <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" href="/clinician/contract-management/create/add-performer">
              Add Performer
            </a>
          </div>
          <div id="performer-page-2" style="display: none;">
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-u-visually-hidden">Performers Table</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Forename
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Surname
                  </th>
                  <th role="columnheader" class="" scope="col">
                    GDC Number
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Correspondence Address
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Start Date
                  </th>
                  <th role="columnheader" class="" scope="col">
                    End Date
                  </th>
                  <th role="columnheader" class="" scope="col">
                    <span class="nhsuk-u-visually-hidden">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Forename </span> Tom
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Surname </span>Holland
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">GDC Number </span>12034
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Correspondence Address </span>Aylesbury
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Start Date </span>01/04/2006
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">End Date </span>31/05/2006
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action </span>
                    <a href="/clinician/contract-management/create/create-contract#performer-panel" class="nhsuk-link nhsuk-link--no-visited-state">Edit</a> 
                    / 
                    <a id="delete-performer" href="/clinician/contract-management/create/create-contract#performer-panel" class="nhsuk-link nhsuk-link--no-visited-state">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="nhsuk-button-group nhsuk-u-margin-top-4">
              <a href="/clinician/contract-management/create/create-contract#activity-panel" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Next
              </a>
              <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Add Another
              </button>
            </div>
          </div>
        </div>
        <!-- ACTIVITY -->
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="activity-panel">
          <div id="activity-page-1">
            <p>Please add a performer activity to the contract</p>
            <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" href="/clinician/contract-management/create/add-performer-activity">
              Add Performer Activity
            </a>
          </div>
          <div id="activity-page-2" style="display: none;">
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-u-visually-hidden">Performers Table</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Forename
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Surname
                  </th>
                  <th role="columnheader" class="" scope="col">
                    GDC Number
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Activity Unit
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Financial Year
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Value
                  </th>
                  <th role="columnheader" class="" scope="col">
                    <span class="nhsuk-u-visually-hidden">Action</span>
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Forename </span> Tom
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Surname </span>Holland
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">GDC Number </span>12034
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Activity Unit </span>12345
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Financial Year </span>2324
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Value </span>12300.00
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action </span>
                    <a href="/clinician/contract-management/create/create-contract#activity-panel" class="nhsuk-link nhsuk-link--no-visited-state">Edit</a> 
                    / 
                    <a id="delete-activity" href="/clinician/contract-management/create/create-contract#activity-panel" class="nhsuk-link nhsuk-link--no-visited-state">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="nhsuk-button-group nhsuk-u-margin-top-4">
              <a href="/clinician/contract-management/create/summary" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Summary
              </a>
              <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
                Add Another
              </button>
            </div>
          </div>
        </div>
      
      </div>

    </div>
  </div>
{% endblock %}
