{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block outerContent %}
{{ backLink({
  href: "/pad-comments/commissioner-view/nil-returns/under-performance-reasons",
  text: "Go back"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        {% from 'checkboxes/macro.njk' import checkboxes %}
{% from 'input/macro.njk' import input %}

{% set reasonHtml %}
  {{ input({
    id: "reason",
    name: "reason",
    classes: "nhsuk-u-width-full",
    label: {
      text: "Reason"
    }
  }) }}
{% endset -%}
<span class="nhsuk-caption-l">Mid-year action plan review</span>
<form>
  {{ textarea({
    name: "example",
    id: "example",
    label: {
      text: "What actions have been taken to address their under-performance?",
      classes: "nhsuk-label--xl"
    },
    hint: {
        text: "Describe the details of all actions taken"
      }
  }) }}
</form>
    </div>
  </div><br>
  <a href="is-contract-deliverable" class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
    Save and continue
</a>



{% endblock %}
