{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
        Remedial notice request sent to Provider Assurance
        </h1>
      </div>

      <h2 class="nhsuk-heading-l">
        <br>What happens next?
      </h2>

      <p>Your request has been shared with Provider Assurance team. They will send the remedial notice to the contractor.</p>

      <p><a  class="nhsuk-link--no-visited-state" href="/pad-comments/commissioner-view/commissioner-dashboard">Go to mid-year action plans and assurance letters</a></p>

    </div>
  </div><br>

{% endblock %}
