<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Manage contracts
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/provider/landing-page",
        text: "Home"
      },
      {
        href: "/provider/contract-management/contracts",
        text: "Contract Management"
      },
      {
        href: "/provider/contract-management/9087654356",
        text: "9087654356"
      }
    ],
    href: "/provider/contract-management/9087654356/arr",
    text: "ARR"
  }) }}
{% endblock %}

<!-- Back link -->
{% block outerContent %}
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption">ARR Table</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Performer ID
            </th>
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Start
            </th>
            <th role="columnheader" class="" scope="col">
              End
            </th>
            <th role="columnheader" class="" scope="col">
              Performer Status
            </th>
            <th role="columnheader" class="" scope="col">
              Provider Status
            </th>
            <th role="columnheader" class="" scope="col">
              ARR Status
            </th>
            <th role="columnheader" class="" scope="col">
              <span class="nhsuk-u-visually-hidden">Action</span>
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Performer ID </span>527386
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>Blake Pumeres
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Start </span>01/04/18
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">End </span>31/04/19
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Performer Status </span>Accepted
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Provider Status </span>Waiting
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">ARR Status </span>Submitted
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span><a class="nhsuk-link--no-visited-state" href="/provider/contract-management/9087654356/arr/arr-view">View</a>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
{% endblock %}
