{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block outerContent %}
{{ backLink({
  href: "/pad-comments/commissioner-view/nil-returns/actions-taken",
  text: "Go back"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <span class="nhsuk-caption-l">Mid-year action plan review</span>
            <form action="/is-nil-return-ap-deliverable" method="post" class="form">

                {{ radios({
                  "idPrefix": "example",
                  "name": "isNilApDeliverable",
                  "fieldset": {
                    "legend": {
                      "text": "Are you assured that the contract is deliverable? ",
                      "classes": "nhsuk-fieldset__legend--xl",
                      "isPageHeading": true
                    }
                  },
                  "hint": {
                    "text": "Will the contractor deliver care to NHS patients to the level at which they have been funded?"
                  },
                  "items": [
                    {
                      "value": "Yes",
                      "text": "Yes"
                    },
                    {
                      "value": "No",
                      "text": "No",
                      "conditional": {
                        "html": '<div class="govuk-form-group"><div class="nhsuk-hint" id="example-hint">
                            Provide details explaining why the action plan is not deliverable
                          </div><textarea class="govuk-textarea" id="no-reason" name="noReason" rows="5"></textarea></div>'
                      }
                    }
                  ]
                }) }}
              
                <div style="margin-top: 24px;">
                  {{ button({
                    "text": "Continue",
                    "id": "btn_submit",
                    "href": "outcome"
                  }) }}
                </div>
              </form>
              
            
          </div>
    </div>
  </div>

{% endblock %}
