{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block outerContent %}
{{ backLink({
  href: "#",
  text: "Go back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <span class="nhsuk-caption-l">Mid-year action plan review</span>
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
              <h1 class="nhsuk-fieldset__heading">
                Why are you unable to demonstrate a unilateral rebase?
              </h1>
            </legend>

            <div class="nhsuk-form-group"> <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
            </div>
            
            <a href="underperformance-reasons" role="button" class="nhsuk-button" style="margin-top: 24px;">
              Save and continue
            </a>
            
              
            
          </div>
    </div>
  </div>
{% endblock %}
