<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Manage contracts
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  <div class="nhsuk-back-link nhsuk-u-padding-top-3 nhsuk-u-padding-top-0 nhsuk-u-margin-bottom-0">
    <a class="nhsuk-back-link__link" href="/contract-management/create/create-contract#services-panel">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-4">
        Add Service
      </h1>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="service-type">
          Service
        </label>
        <select class="nhsuk-select" id="service-type" name="service-type">
          <option value="1" selected>Select</option>
          <option value="2">Option 1</option>
          <option value="3">Option 2</option>
        </select>
      </div>

      <form>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-u-visually-hidden">
              Non-Recurring
            </legend>
    
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="non-recurring" name="non-recurring" type="checkbox" value="true">
                <label class="nhsuk-label nhsuk-u-font-weight-bold nhsuk-checkboxes__label" for="non-recurring">
                  Non-Recurring
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" role="group">
          <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="service-start-date">
            Service Start Date
          </legend>
  
          <div class="nhsuk-date-input" id="service-start-date">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
  
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" role="group">
          <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="service-end-date">
            Service End Date
          </legend>
  
          <div class="nhsuk-date-input" id="service-end-date">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="end-day">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-day" name="end-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="end-month">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-month" name="end-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="end-year">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="end-year" name="end-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <p class="nhsuk-u-font-weight-bold">Effective From Date: <span class="nhsuk-u-font-weight-normal">Wednesday, 21 October 2026</span></p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="annual-value">
          Annual Value
        </label>
        <input class="nhsuk-input" id="annual-value" name="annual-value" type="text">
      </div>

      <form>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-u-visually-hidden">
              No Performance Targets
            </legend>
    
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input nhsuk-u-width-two-thirds" id="no-performance-targets" name="no-performance-targets" type="checkbox" value="true">
                <label class="nhsuk-label nhsuk-u-font-weight-bold nhsuk-checkboxes__label" for="no-performance-targets">
                  No Performance Targets
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="opt-out-reason">
          Opt Out Reason
        </label>
        <textarea class="nhsuk-textarea" id="opt-out-reason" name="opt-out-reason" rows="5"></textarea>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="activity-unit">
          Activity Unit
        </label>
        <input class="nhsuk-input" id="activity-unit" name="activity-unit" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="contracted-activity">
          Contracted Activity
        </label>
        <input class="nhsuk-input" id="contracted-activity" name="contracted-activity" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="service-details">
          Service Details
        </label>
        <textarea class="nhsuk-textarea" id="service-details" name="service-details" rows="5"></textarea>
      </div>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Financial Year
          </dt>
          <dd class="nhsuk-summary-list__value">
            2324
          </dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Financial Value
          </dt>
          <dd class="nhsuk-summary-list__value">
            0.00
          </dd>
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Contract Activity
          </dt>
          <dd class="nhsuk-summary-list__value">
            0.00
          </dd>
        </div>
      </dl>

      <div class="nhsuk-button-group">
        <a id="service-add" href="/contract-management/create/create-contract#services-panel" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
          Add
        </a>
        <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
          Add Another
        </button>
        <a href="/contract-management/create/create-contract#services-panel" class="nhsuk-link nhsuk-link--no-visited-state">Cancel</a>
      </div>

    </div>
  </div>
{% endblock %}
