<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Contract details
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
{{ breadcrumb({
items: [
{
href: "/provider/landing-page",
text: "Home"
},
{
href: "/provider/debt-management/debt-contracts",
text: "Contracts in debt"
}
],
href: "/provider/debt-management/990175001",
text: "990175001"
}) }}
{% endblock %}

<!-- Back link -->
{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-u-margin-bottom-0">
      Debt Status
      <span class="nhsuk-caption-m nhsuk-caption--bottom">Contract Name, 99017500001</span>
    </h1>

    <hr class="nhsuk-section-break  nhsuk-section-break--l " />
    <!-- Summary Cards -->
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-no-border">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Total debt</p>
            <p class="nhsuk-body nhsuk-u-margin-bottom-1">£15,000</p>
            <a href="/provider/debt-management/990175001/debt-details"
              class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Check
              what you owe</a>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-no-border">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-s  nhsuk-u-margin-bottom-1">Due date</p>
            <p class="nhsuk-body nhsuk-u-margin-bottom-1">7 August 2024 </p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-no-border">
          <div class="nhsuk-card__content nhsuk-card-custom-action_list">
            <p class="nhsuk-heading-s nhsuk-u-margin-bottom-1">History</p>
            <a href="#"
              class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">View
              pay statements</a>
            <a href="#"
              class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">View
              full contract history</a>
          </div>
        </div>
      </li>
    </ul>
    <div id="debtPlan" class="nhsuk-u-margin-top-5">
      <h2 class="nhsuk-card__heading">
        Debt recovery plan
        <span class="nhsuk-caption-m nhsuk-caption--bottom">Your debt is being automatically recovered through
          monthly
          payment deductions.</span>
      </h2>
      <p class="nhsuk-body nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-bold">Monthly recovery amount</p>
      <p class="nhsuk-body nhsuk-u-font-size-32 nhsuk-u-font-weight-bold ">£3000</p>
      <p class="nhsuk-body nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-bold">Remaining recovery duration</p>
      <p class="nhsuk-body nhsuk-u-font-size-32 nhsuk-u-font-weight-bold ">5 months</p>
      <ul class="nhsuk-list">
        <li>
          <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state" href="#">Manage
            debt
            recovery plan</a>
        </li>
        <li>
          <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
            href="/provider/debt-management/990175001/debt-payment">Make a
            one-off payment</a>
        </li>
        <li>
          <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state" href="#">View
            payment
            history</a>
        </li>
      </ul>
      <div class="nhsuk-u-margin-top-5">
        <h2 class="nhsuk-card__heading nhsuk-u-margin-bottom-0">
          Estimated upcoming payments
        </h2>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p class="nhsuk-hint">These indicative figures may be subject to change </p>
        </div>
        <table class="nhsuk-table nhsuk-no-border">
          <caption class="nhsuk-table__caption" style="display: none;">Estimated payment</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Date
              </th>
              <th role="columnheader" class="" scope="col">
                Debt recovery
              </th>
              <th role="columnheader" class="" scope="col">
                Adjusted payment
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>23 July 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Debt recovery </span>£ 3000
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Adjusted payment </span>£17,050
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>24 August 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Debt recovery </span>£ 3000
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Adjusted payment </span>£22,542
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span>23 September 2024
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Debt recovery </span>£ 3000
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading" aria-hidden="true">Adjusted payment </span>£18,900
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="totalDebt" class="nhsuk-u-margin-top-5">
      <h2 class="nhsuk-card__heading">
        Total Debt
        <span class="nhsuk-caption-m nhsuk-caption--bottom">Your contract has been in debt since April 2024</span>
      </h2>
      <p class="nhsuk-body nhsuk-u-margin-bottom-0">Debt amount</p>
      <p class="nhsuk-body nhsuk-u-font-size-32 nhsuk-u-font-weight-bold ">£3000</p>
      <div class="nhsuk-u-margin-top-5">
        <h2 class="nhsuk-card__heading ">
          Manage debt
        </h2>
        <ul class="nhsuk-list">
          <li>
            <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
              href="/provider/debt-management/990175001/debt-payment">Make
              payment</a>
          </li>
          <li>
            <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state" href="#">Create debt
              recovery plan</a>
          </li>
          <li>
            <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state" href="#">View
              payment
              history</a>
          </li>
        </ul>
      </div>
      <div class="nhsuk-u-margin-top-5">
        <h2 class="nhsuk-card__heading nhsuk-u-margin-bottom-0">
          Estimated upcoming payments
        </h2>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p class="nhsuk-hint">These indicative figures may be subject to change </p>
        </div>
        <table class="nhsuk-table nhsuk-no-border">
          <caption class="nhsuk-table__caption" style="display: none;">Estimated payment</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Date
              </th>
              <th role="columnheader" class="" scope="col">
                Estimated payment
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">23 July 2024</td>
              <td class="nhsuk-table__cell ">£17,050</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell ">24 August 2024</td>
              <td class="nhsuk-table__cell">£22,542</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell ">23 September 2024</td>
              <td class="nhsuk-table__cell">£18,900</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="nhsuk-u-margin-top-9">
      <h2 class="nhsuk-card__heading ">
        Help and Information
      </h2>
      <ul class="nhsuk-list">
        <li>
          <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state" href="#">Access
            contact information of payment team</a>
        </li>
        <li>
          <a class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state" href="#">More about
            automatic debt recoveries</a>
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
{% block pageScripts %}
<script>
  window.onload = function () {
    // check query param showDebtPlan value
    const urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams.toString());
    const DebtPlanDisplay = (urlParams.get('showDebtPlan') === 'true') || false;
    const debtPlanDiv = document.getElementById('debtPlan');
    const totalDebtDiv = document.getElementById('totalDebt');
    if (DebtPlanDisplay === true) {
      debtPlanDiv.style.display = 'block';
      totalDebtDiv.style.display = 'none';
    } else {
      debtPlanDiv.style.display = 'none';
    }
    console.log(DebtPlanDisplay); //condtional display of div
  }
</script>
{% endblock %}