<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Process an adjustment
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- Back link -->
{% block outerContent %}
  <div class="nhsuk-back-link nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-0">
    <a id="back" class="nhsuk-back-link__link" href="process-adjustment-request">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back
    </a>
  </div>
{% endblock %}

<!-- Content -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl">
      <span class="nhsuk-caption-xl">Process adjustment request 222567</span>
      Check general details match the attached evidence
    </h1>

    <!-- Overview -->

    <h2 class="nhsuk-heading-m">Overview</h2>

    <table class="nhsuk-table">
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">Clinician ID</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">127840</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">Clinician name</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Sophie Clarkson</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">Type</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Long Term Sickness</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">Description</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Deduction</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <!-- Leave details -->

    <h2 class="nhsuk-heading-m">Leave details</h2>

    <table class="nhsuk-table">
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">Date period of sickness began</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">19 October 2024</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">GP Certificate issue date</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">20 October 2024</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">GP Certificate expiry date</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">29 October 2024</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">Is this a continuation of previous sickness leave?</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
      </tbody>
    </table>

    <br>

    <!-- Leave continuation -->

    <h2 class="nhsuk-heading-m">Leave continuation</h2>

    <table class="nhsuk-table">
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">Did they have a continuation certificate?</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Yes</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">GP Continuation certificate issue date</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">12 October 2024</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">GP Continuation certificate expiry date end</th>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">03 March 2025</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a href="#" class="nhsuk-link">Change</a>
          </td>
        </tr>
      </tbody>
    </table>

    <br>

    <!-- Evidence -->
    <h2 class="nhsuk-heading-m">Attatched evidence</h2>


    <table class="nhsuk-table" style="margin-bottom: 0">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            File
          </th>
          <th role="columnheader" class="" scope="col">
            Document Type
          </th>
          <th role="columnheader" class="" scope="col">
             
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell" scope="row">
              <a href="#" class="nhsuk-link">ABC.pdf</a>
              <span class="nhsuk-u-margin-left-1 nhsuk-u-font-weight-bold">2MB</span>
          </td>
          <td class="nhsuk-table__cell">Medical letter</td>
          <td class="nhsuk-table__cell">
              <a href="#" class="nhsuk-link nhsuk-u-color--red">Remove</a>
          </td>
        </tr>
      </tbody>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell" scope="row">
              <a href="#" class="nhsuk-link">Add another attatchment</a>
          </td>
          <td class="nhsuk-table__cell" scope="row">
          </td>
          <td class="nhsuk-table__cell" scope="row">
          </td>
        </tr>
      </tbody>
  </table>

  <br>
  <br>

  <!-- Declaration -->

  <h2 class="nhsuk-heading-m">Confirmation</h2>
  <p>I confirm the information on this page is correct according to the attached evidence and to the best of my knowledge.</p>

  <div class="nhsuk-checkboxes">
    <div class="nhsuk-checkboxes__item">
      <input class="nhsuk-checkboxes__input" id="information-correct-chk" name="information-correct-chk" type="checkbox" value="yes">
      <label class="nhsuk-label nhsuk-checkboxes__label" for="information-correct-chk">
        I confirm
      </label>
  </div>

  <br>
    

  <!-- Call to actions -->

  <div class="nhsuk-button-group nhsuk-u-margin-top-6">
    <form action="process-adjustment-request">
      <button id="add-clinician" class="nhsuk-button" type="submit" disabled>
        Save and view contract financials
      </button>
    </form>
    <form action="/">
      <button class="nhsuk-button nhsuk-button--secondary" type="submit" disabled>
        Save and exit
      </button>
    </form>
    <a href=" " class="nhsuk-link nhsuk-link--no-visited-state">Cancel</a>
  </div>

    </div>
  </div>

  <br>

  {% endblock %}


  {% block pageScripts %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const checkbox = document.getElementById("information-correct-chk");
        const buttons = document.querySelectorAll(".nhsuk-button");

        checkbox.addEventListener("change", function () {
          const isChecked = checkbox.checked;
          buttons.forEach(button => {
            if (button.getAttribute("type") === "submit") {
              button.disabled = !isChecked;
            }
          });
        });
      });
    </script>
  {% endblock %}

