<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Payment adjustments
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- Back link -->
{% block outerContent %}
  <div class="nhsuk-back-link nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-0">
    <a id="back" class="nhsuk-back-link__link" href=" ">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back
    </a>
  </div>
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Payment adjustment 270683 was submitted
          </h3>
        </div>
      </div>

      <h1 class="nhsuk-heading-xl">Payment adjustments</h1>

      <!-- Incoming adjustment requests -->
      <h2 class="nhsuk-heading-m">Incoming adjustment requests</h2>
      <p class="nhsuk-body">Review and process adjustment requests submitted via self-serve or create an adjustment manually.</p>

      <div class="nhsuk-button-group nhsuk-u-margin-top-6">
          <a id="Process an adjustment request" href=" " class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
            Process an adjustment request
          </a>
        </div>

      <hr>

      <!-- My adjustments -->
      <h2 class="nhsuk-heading-m">My adjustments</h2>
      <p class="nhsuk-body">Track the status of adjustments you have processed.</p>

      <details class="nhsuk-details nhsuk-expander" style="border:none; background-color: #f0f4f5; margin-bottom: 0;">
          <summary class="nhsuk-details__summary nhsuk-u-padding-left-0" style="background-color: #f0f4f5;">
            <div class="nhsuk-custom-search-filter-text" style="padding: 0;">
              <span id="expand-report-filters" class="nhsuk-details__summary-text">
                Advanced search
              </span>
              <span id="close-report-filters" class="nhsuk-details__summary-text" style="display: none;">
                Hide filters
              </span>
            </div>
          </summary>

          <div class="nhsuk-details__text nhsuk-u-padding-left-0">
            
            <details class="nhsuk-details  nhsuk-expander" style="margin-bottom: 0;">
              <summary class="nhsuk-details__summary nhsuk-u-padding-3">
                <span class="nhsuk-details__summary-text">
                  Adjustment ID
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="input-width-10">
                    Enter Adjustment ID
                  </label>
                  <div class="nhsuk-hint" id="contact-hint">
                    Search for adjustments by separating them using a comma
                  </div>
                  <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
                </div>
              </div>
            </details>
  
  
            <details class="nhsuk-details  nhsuk-expander" style="margin-bottom: 0;">
              <summary class="nhsuk-details__summary nhsuk-u-padding-3">
                <span class="nhsuk-details__summary-text">
                  Example
                </span>
              </summary>
              <div class="nhsuk-details__text">
          
              </div>
            </details>
  
            <details class="nhsuk-details  nhsuk-expander" style="margin-bottom: 2;">
              <summary class="nhsuk-details__summary nhsuk-u-padding-3">
                <span class="nhsuk-details__summary-text">
                  Example
                </span>
              </summary>
              <div class="nhsuk-details__text">
  
                  <div class="nhsuk-form-group" style="margin-bottom: 0;">
                
                      <form>

                          <div class="nhsuk-form-group">
                      
                      
                              <div class="nhsuk-checkboxes">
                      
                              <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                  Filter 1
                                  </label>
                              </div>
                      
                              <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                                  Filter 2
                                  </label>
                              </div>
                      
                              <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                                  Filter 3
                                  </label>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
            </details>
  
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Update results
            </button>
  
            <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
              Clear filters
            </button>
          </div>
        </details>

      <table class="nhsuk-table">
          <caption class="nhsuk-table__caption" style="display: none;">Contracts</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                  Date
              </th>
              <th role="columnheader" class="" scope="col">
                ID
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Clinician
              </th>
              <th role="columnheader" class="" scope="col">
                Caseworker
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>
              <th role="columnheader" class="" scope="col">
                
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">222567</td>
                  <td class="nhsuk-table__cell ">Assurance review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Tom Jones</td>
                  <td class="nhsuk-table__cell">Jack	Paterson</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--yellow">
                      Amend
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/7-payments/payments-adjustments/amend-adjustment">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">28/03/2025</td>
                  <td class="nhsuk-table__cell">222547</td>
                  <td class="nhsuk-table__cell ">Maternity leave</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Linda Caprile</td>
                  <td class="nhsuk-table__cell">Jack	Paterson</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--red">
                      Rejected
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">28/03/2025</td>
                  <td class="nhsuk-table__cell">222567</td>
                  <td class="nhsuk-table__cell ">Assurance review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Ben Fitton</td>
                  <td class="nhsuk-table__cell">Jack	Paterson</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Pending
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">28/03/2025</td>
                  <td class="nhsuk-table__cell">222567</td>
                  <td class="nhsuk-table__cell ">Assurance review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Emilio Dodderss</td>
                  <td class="nhsuk-table__cell">Jack	Paterson</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Pending
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">28/03/2025</td>
                  <td class="nhsuk-table__cell">222567</td>
                  <td class="nhsuk-table__cell ">Assurance review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Riley Quinn</td>
                  <td class="nhsuk-table__cell">Jack	Paterson</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Pending
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
          </tbody>
        </table>

        <br>

      <!-- All adjustments -->
      <h2 class="nhsuk-heading-m">All adjustments</h2>
      <p class="nhsuk-body">Track and review adjustments within your team.</p>

      <details class="nhsuk-details nhsuk-expander" style="border:none; background-color: #f0f4f5; margin-bottom: 0;">
          <summary class="nhsuk-details__summary nhsuk-u-padding-left-0" style="background-color: #f0f4f5;">
            <div class="nhsuk-custom-search-filter-text" style="padding: 0;">
              <span id="expand-report-filters" class="nhsuk-details__summary-text">
                Advanced search
              </span>
              <span id="close-report-filters" class="nhsuk-details__summary-text" style="display: none;">
                Hide filters
              </span>
            </div>
          </summary>
          
          <div class="nhsuk-details__text nhsuk-u-padding-left-0">
            
            <details class="nhsuk-details  nhsuk-expander" style="margin-bottom: 0;">
              <summary class="nhsuk-details__summary nhsuk-u-padding-3">
                <span class="nhsuk-details__summary-text">
                  Adjustment ID
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="input-width-10">
                    Enter Adjustment ID
                  </label>
                  <div class="nhsuk-hint" id="contact-hint">
                    Search for adjustments by separating them using a comma
                  </div>
                  <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
                </div>
              </div>
            </details>
  
  
            <details class="nhsuk-details  nhsuk-expander" style="margin-bottom: 0;">
              <summary class="nhsuk-details__summary nhsuk-u-padding-3">
                <span class="nhsuk-details__summary-text">
                  Example
                </span>
              </summary>
              <div class="nhsuk-details__text">
          
              </div>
            </details>
  
            <details class="nhsuk-details  nhsuk-expander" style="margin-bottom: 2;">
              <summary class="nhsuk-details__summary nhsuk-u-padding-3">
                <span class="nhsuk-details__summary-text">
                  Example
                </span>
              </summary>
              <div class="nhsuk-details__text">
  
                  <div class="nhsuk-form-group" style="margin-bottom: 0;">
                
                      <form>

                          <div class="nhsuk-form-group">
                      
                      
                              <div class="nhsuk-checkboxes">
                      
                              <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                  Filter 1
                                  </label>
                              </div>
                      
                              <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                                  Filter 2
                                  </label>
                              </div>
                      
                              <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                                  Filter 3
                                  </label>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
            </details>
  
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Update results
            </button>
  
            <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
              Clear filters
            </button>
          </div>
        </details>

        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption" style="display: none;">Contracts</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Date
              </th>
              <th role="columnheader" class="" scope="col">
                Adjustment ID
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
              <th role="columnheader" class="" scope="col">
                Clinician
              </th>
              <th role="columnheader" class="" scope="col">
                Caseworker
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>
              <th role="columnheader" class="" scope="col">
                
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">247563</td>
                  <td class="nhsuk-table__cell ">Assurance review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Zain Malik</td>
                  <td class="nhsuk-table__cell">Josh	Casey</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Review
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/7-payments/payments-adjustments/review">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">227434</td>
                  <td class="nhsuk-table__cell ">Maternity leave</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Oliver James</td>
                  <td class="nhsuk-table__cell">Sonia	Hart</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Review
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">237465</td>
                  <td class="nhsuk-table__cell ">Assurance review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">James Harrington</td>
                  <td class="nhsuk-table__cell">Amelia Dowd</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Review
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">247352</td>
                  <td class="nhsuk-table__cell ">Activity review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Sophie Clarkson</td>
                  <td class="nhsuk-table__cell">William	Bailey</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Review
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">237462</td>
                  <td class="nhsuk-table__cell ">Assurance review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Amina Patel</td>
                  <td class="nhsuk-table__cell">Isaac	Nashy</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Review
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">248567</td>
                  <td class="nhsuk-table__cell ">Added benefit</td>
                  <td class="nhsuk-table__cell">Contribution</td>
                  <td class="nhsuk-table__cell">Lily Thompson</td>
                  <td class="nhsuk-table__cell">Dan Powell</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Review
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">238462</td>
                  <td class="nhsuk-table__cell ">Access funding</td>
                  <td class="nhsuk-table__cell">Payment</td>
                  <td class="nhsuk-table__cell">Jacob Okafor</td>
                  <td class="nhsuk-table__cell">Richard Brown</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--grey">
                      Review
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">346467</td>
                  <td class="nhsuk-table__cell ">Abatement</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Zara Ahmed</td>
                  <td class="nhsuk-table__cell">Andrew Underwood</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--green">
                      Completed
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">484567</td>
                  <td class="nhsuk-table__cell ">Activity review</td>
                  <td class="nhsuk-table__cell">Deduction</td>
                  <td class="nhsuk-table__cell">Ethan Williams</td>
                  <td class="nhsuk-table__cell">Frank	Glover</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--green">
                      Completed
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">02/04/2025</td>
                  <td class="nhsuk-table__cell">552567</td>
                  <td class="nhsuk-table__cell ">Additional payment</td>
                  <td class="nhsuk-table__cell">Contribution</td>
                  <td class="nhsuk-table__cell">Layla Fernandes</td>
                  <td class="nhsuk-table__cell">Christopher Bower</td>
                  <td class="nhsuk-table__cell"> 
                  <strong class="nhsuk-tag nhsuk-tag--green">
                      Completed
                  </strong>
                  <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href=" ">View</a></td>
              </tr>
          </tbody>
       </table>

        <nav class="govuk-pagination" style="font-family: Frutiger;" aria-label="Pagination">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 8">
                2
              </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses">
              &ctdot;
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">
                42
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
      </nav>
    </div>
</div>
<!-- End of content --> 
{% endblock %}


