<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- Back link -->
{% block outerContent %}
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="p1">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
              <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back</a>
      </div>
    
      <fieldset class="nhsuk-fieldset" aria-describedby="confirm-hint">
              <h1 class="nhsuk-heading-xl">
                  <span class="nhsuk-caption-xl">Mid-year action plan review</span>
                  Do you want to share any other comments regarding the review?
                </h1>
                <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="confirm-6" name="confirm" type="radio" value="phone" aria-controls="conditional-confirm-6" aria-expanded="true">
              <label class="nhsuk-label nhsuk-radios__label" for="confirm-6">
                  Yes, I want to share comments 
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional" id="conditional-confirm-6">
      
              <div class="nhsuk-form-group">
                  <div class="nhsuk-hint" id="example-hint">
                    Enter your comments
                  </div> <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                </div>
      
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="confirm-1" name="confirm" type="radio" value="text" aria-controls="conditional-confirm-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="confirm-1">
                  No, I do not want to share any comments
              </label>
            </div>
            
      
          </div>
        </fieldset>
    </div>
  </div><br>
  <a href="p3" class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
    Save and continue
  </button>
</a>

{% endblock %}
