{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block outerContent %}
{{ backLink({
  href: "#",
  text: "Go back"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <fieldset class="nhsuk-fieldset" aria-describedby="confirm-hint">
                <h1 class="nhsuk-heading-xl">
                    <span class="nhsuk-caption-xl">Transfer contract</span>
                    Do you want to attach any files to your request?
                  </h1>
                  <div class="nhsuk-radios nhsuk-radios--conditional">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="confirm-6" name="confirm" type="radio" value="phone" aria-controls="conditional-confirm-6" aria-expanded="true">
                <label class="nhsuk-label nhsuk-radios__label" for="confirm-6">
                    Yes, I want to attach files to my request
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional" id="conditional-confirm-6">
        
                <div class="nhsuk-form-group">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                      <div class="nhsuk-date-input" id="example">
                        <div class="nhsuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="nhsuk-hint" for="close-justification">
                                    Choose one or more files to support the review. Avoid confidential or personal identifiable information. <span class="nhsuk-u-visually-hidden"></span>
                                  </label>
                                <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
                              </div>
                      </div>
                    </fieldset>
                  
                  </div>
                </div>
        
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="confirm-1" name="confirm" type="radio" value="text" aria-controls="conditional-confirm-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="confirm-1">
                    No, I do not want to attach any items
                </label>
              </div>
              
        
            </div>
          </fieldset>
    </div>
  </div><br>
  <a href="finish-transfer-contract" class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
    Continue
  </button>
</a>

{% endblock %}
