{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/contract-management/index",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-xl">Transfer contract</span>
            Before you start
          </h1>
      
      <p>To transfer contract you will need:</p>
      <ul>
        <li>ID of the person taking on the contract</li>
        <li>the transfer date</li>
      </ul>

      <p>If the existing provider holds more than one contract you will be able to select the other contracts to be transferred as part of your request.</p>
      <p>Also ensure that the new provider has checked and updated their bank details if necessary. This needs to happen before the 18th day in the month they take on the contracts.</p>
      <p>Transfers need to be checked by an authorised reviewer. A reviewer will be notified when you complete the request.</p>


      <a href="multiple-contracts" class="nhsuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
