.nhsuk-table-pagination{
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap
}
@media (min-width:40.0625em){
    .nhsuk-table-pagination{
        margin-bottom:30px;
        flex-direction:row;
        align-items:flex-start
    }
}
.nhsuk-table-pagination__list{
    margin:0;
    padding:0;
    list-style:none
}
.nhsuk-table-pagination__item,.nhsuk-table-pagination__next,.nhsuk-table-pagination__prev{
    font-family:GDS Transport,arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-weight:400;
    font-size:1rem;
    line-height:1.25;
    box-sizing:border-box;
    position:relative;
    min-width:45px;
    min-height:45px;
    padding:10px 15px;
    float:left
}
@media print{
    .nhsuk-table-pagination__item,.nhsuk-table-pagination__next,.nhsuk-table-pagination__prev{
        font-family:sans-serif
    }
}
@media (min-width:40.0625em){
    .nhsuk-table-pagination__item,.nhsuk-table-pagination__next,.nhsuk-table-pagination__prev{
        font-size:1.1875rem;
        line-height:1.3157894737
    }
}
@media print{
    .nhsuk-table-pagination__item,.nhsuk-table-pagination__next,.nhsuk-table-pagination__prev{
        font-size:14pt;
        line-height:1.15
    }
}
.nhsuk-table-pagination__item:hover,.nhsuk-table-pagination__next:hover,.nhsuk-table-pagination__prev:hover{
    background-color:#f3f2f1
}
.nhsuk-table-pagination__item{
    display:none;
    text-align:center
}
@media (min-width:40.0625em){
    .nhsuk-table-pagination__item{
        display:block
    }
}
.nhsuk-table-pagination__next,.nhsuk-table-pagination__prev{
    font-weight:700
}
.nhsuk-table-pagination__next .nhsuk-table-pagination__link,.nhsuk-table-pagination__prev .nhsuk-table-pagination__link{
    display:flex;
    align-items:center
}
.nhsuk-table-pagination__prev{
    padding-left:0
}
.nhsuk-table-pagination__next{
    padding-right:0
}
.nhsuk-table-pagination__item--current,.nhsuk-table-pagination__item--ellipses,.nhsuk-table-pagination__item:first-child,.nhsuk-table-pagination__item:last-child{
    display:block
}
.nhsuk-table-pagination__item--current{
    font-weight:700;
    outline:1px solid transparent;
    background-color:#1d70b8
}
.nhsuk-table-pagination__item--current:hover{
    background-color:#1d70b8
}
.nhsuk-table-pagination__item--current .nhsuk-table-pagination__link:link,.nhsuk-table-pagination__item--current .nhsuk-table-pagination__link:visited{
    color:#fff
}
.nhsuk-table-pagination__item--current .nhsuk-table-pagination__link:active,.nhsuk-table-pagination__item--current .nhsuk-table-pagination__link:hover{
    color:hsla(0,0%,100%,.99)
}
.nhsuk-table-pagination__item--current .nhsuk-table-pagination__link:focus{
    color:#0b0c0c
}
.nhsuk-table-pagination__item--ellipses{
    font-weight:700;
    color:#505a5f
}
.nhsuk-table-pagination__item--ellipses:hover{
    background-color:transparent
}
.nhsuk-table-pagination__link{
    display:block;
    min-width:15px
}
@media screen{
    .nhsuk-table-pagination__link:after{
        content:"";
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0
    }
}
.nhsuk-table-pagination__link:active .nhsuk-table-pagination__link-title--decorated,.nhsuk-table-pagination__link:hover .nhsuk-table-pagination__link-title--decorated{
    text-decoration:underline;
    text-decoration-thickness:max(1px,.0625rem);
    text-underline-offset:.1578em
}
.nhsuk-table-pagination__link:active .nhsuk-table-pagination__link-label,.nhsuk-table-pagination__link:active .nhsuk-table-pagination__link-title--decorated,.nhsuk-table-pagination__link:hover .nhsuk-table-pagination__link-label,.nhsuk-table-pagination__link:hover .nhsuk-table-pagination__link-title--decorated{
    text-decoration-thickness:max(3px,.1875rem,.12em);
    -webkit-text-decoration-skip-ink:none;
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    text-decoration-skip:none
}
.nhsuk-table-pagination__link:focus .nhsuk-table-pagination__icon{
    color:#0b0c0c
}
.nhsuk-table-pagination__link:focus .nhsuk-table-pagination__link-label,.nhsuk-table-pagination__link:focus .nhsuk-table-pagination__link-title--decorated{
    text-decoration:none
}
.nhsuk-table-pagination__link-label{
    font-weight:400;
    text-decoration:underline;
    text-decoration-thickness:max(1px,.0625rem);
    text-underline-offset:.1578em;
    display:inline-block;
    padding-left:30px
}
.nhsuk-table-pagination__icon{
    width:.9375rem;
    height:.8125rem;
    color:#505a5f;
    fill:currentcolor;
    forced-color-adjust:auto
}
.nhsuk-table-pagination__icon--prev{
    margin-right:15px
}
.nhsuk-table-pagination__icon--next{
    margin-left:15px
}
.nhsuk-table-pagination--block{
    display:block
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__item{
    padding:15px;
    float:none
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__next,.nhsuk-table-pagination--block .nhsuk-table-pagination__prev{
    padding-left:0;
    float:none
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__next{
    padding-right:15px
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__next .nhsuk-table-pagination__icon{
    margin-left:0
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__prev+.nhsuk-table-pagination__next{
    border-top:1px solid #b1b4b6
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__link,.nhsuk-table-pagination--block .nhsuk-table-pagination__link-title{
    display:inline
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__link-title:after{
    content:"";
    display:block
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__link{
    text-align:left
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__link:focus .nhsuk-table-pagination__link-label{
    outline:3px solid transparent;
    color:#0b0c0c;
    background-color:#fd0;
    box-shadow:0 -2px #fd0,0 4px #0b0c0c;
    text-decoration:none;
    -webkit-box-decoration-break:clone;
    box-decoration-break:clone
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__link:not(:focus){
    text-decoration:none
}
.nhsuk-table-pagination--block .nhsuk-table-pagination__icon{
    margin-right:10px
}