<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Create Contract
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- Back link -->
{% block outerContent %}
  <div class="nhsuk-back-link nhsuk-u-padding-top-3 nhsuk-u-margin-bottom-0">
    <a class="nhsuk-back-link__link" href="/3-contract-management/contract-create/v1-provider/create/start-create-contract">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back
    </a>
  </div>
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Add Clinician details</span>
      <h1>Who is the Clinician?</h1>
      
      <div class="nhsuk-form-group">
        <div class="govuk-hint">
          Start typing a name, Clinician ID or GDC number to find the Clinician
        </div>
        <input class="nhsuk-input" id="provider-id" name="provider-id" type="text" oninput="filterInputFunction(value)">
        <div id="filter-input" class="nhsuk-filter-input-box" style="display: none;">
          <a id="filter-input-row-1" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-filter-input-link">123456789, Tom Holland</a>
          <a id="filter-input-row-2" class="nhsuk-link nhsuk-link--no-visited-state nhsuk-filter-input-link">123456784, Ella Purnell</a>
        </div>
      </div>
  
      <div id="search-results" style="display: none;">
        <h2 class="nhsuk-u-font-weight-bold">Selected clinician</h2>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Clinician ID
            </dt>
            <dd class="nhsuk-summary-list__value">
              123456789
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              Tom Holland
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Clinician type
            </dt>
            <dd class="nhsuk-summary-list__value">
              Dental therapist
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              GDC number
            </dt>
            <dd class="nhsuk-summary-list__value">
              6497356
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Pension member
            </dt>
            <dd class="nhsuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contact details
            </dt>
            <dd class="nhsuk-summary-list__value">
              +44 7512371452<br>tom@provider.co.uk
               </dd>
          </div>
                      
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Address
            </dt>
            <dd class="nhsuk-summary-list__value">
              453 Ringwood Rd<br>Poole<br>Dorset<br>BH12 4LX
            </dd>
          </div>
        </dl>
      </div>

      <div id="search-results-2" style="display: none;">
        <p class="nhsuk-u-font-weight-bold">Selected clinician</p>
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Clinician ID
            </dt>
            <dd class="nhsuk-summary-list__value">
              123456784
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              Ella Purnell
            </dd>
          </div>
        
            <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Clinician type
            </dt>
            <dd class="nhsuk-summary-list__value">
              Dental therapist
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              GDC number
            </dt>
            <dd class="nhsuk-summary-list__value">
              6497356
            </dd>
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Clinician type
            </dt>
            <dd class="nhsuk-summary-list__value">
              Dental therapist
            </dd>
          </div>

       <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Pension member
            </dt>
            <dd class="nhsuk-summary-list__value">
              Yes
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Contact details
            </dt>
            <dd class="nhsuk-summary-list__value">
              +44 7512371452<br>ella@provider.co.uk
               </dd>
          </div>
                      
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Address
            </dt>
            <dd class="nhsuk-summary-list__value">
              453 Ringwood Rd<br>Poole<br>Dorset<br>BH12 4LX
            </dd>
          </div>
        </dl>
      </div>

      <div class="nhsuk-button-group nhsuk-u-margin-top-6">
        <a id="add-clinician" href="/3-contract-management/contract-create/v1-provider/create/clinicians/clinician-tenure" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
          Continue
        </a>
        <a href="/3-contract-management/contract-create/v1-provider/create/start-create-contract" class="nhsuk-link nhsuk-link--no-visited-state">Cancel entry</a>
      </div>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    const providerId = document.getElementById('provider-id');
    const filterInput = document.getElementById('filter-input');
    const filterInputR1 = document.getElementById('filter-input-row-1');
    const filterInputR2 = document.getElementById('filter-input-row-2');
    const providerNameSearch = document.getElementById('provider-name-search');
    const providerNameResults = document.getElementById('provider-name-results');
    const usertableSelect = document.getElementById('usertable-select');
    const providerDetail = document.getElementById('provider-detail');
    const searchResults = document.getElementById('search-results');
    const searchResults2 = document.getElementById('search-results-2');
    const addClinician = document.getElementById('add-clinician');
    const notified = document.getElementById('notified');

    function filterInputFunction(value) {
      filterInput.style.display = 'flex';
      if (value === "123456784") {
        filterInputR1.style.display = 'none';
      } else {
        filterInputR1.style.display = 'block';
      }
    }

    filterInputR1.addEventListener('click', ()=>{
      filterInput.style.display = 'none';
      providerId.value = '123456789';
      searchResults.style.display = 'block';
      searchResults2.style.display = 'none';
      addClinician.removeAttribute("disabled");
    });

    filterInputR2.addEventListener('click', ()=>{
      filterInput.style.display = 'none';
      providerId.value = '123456784';
      searchResults.style.display = 'none';
      searchResults2.style.display = 'block';
      addClinician.removeAttribute("disabled");
    });

    providerNameSearch.addEventListener('click', ()=>{
      providerNameResults.style.display = 'table-row';
    });

    usertableSelect.addEventListener('click', ()=>{
      window.event.preventDefault();
      providerId.value = '123456784'
      providerDetail.removeAttribute("open");
      searchResults.style.display = 'none'; 
      searchResults2.style.display = 'block';
      addClinician.removeAttribute("disabled");
    });

    window.onload = function() {
      if(localStorage['hasSavedClinician'] == "Yes") {
        notified.style.display = 'block';
      } else {
        notified.style.display = 'none';
      };
    }

  </script>
{% endblock %}