<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Contract details
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/3-contract-management/contents",
        text: "Home"
      },
      {
        href: "/3-contract-management/contract-search-view-amend/v1/contract-search",
        text: "Contract Management"
      }
    ],
    href: "/3-contract-management/contract-search-view-amend/v1/contract-overview",
    text: "Contract 9087654356"
  }) }}
{% endblock %}

<!-- Back link -->
{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <strong class="nhsuk-tag nhsuk-tag--green">
      Active
    </strong>

    <h1 class="nhsuk-u-margin-bottom-0">
      Contract Overview
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Contract name, 9087654356</span>
    </h1>
    <div class="nhsuk-warning-callout">
      <h2 class="nhsuk-warning-callout__label">
        Important<span class="nhsuk-u-visually-hidden">:</span>
      </h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
          The cut-off date for debt repayment is approaching for contract number 01928374181. Check the
          <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Debt and activity status</a>
          section for more details.
        </li>
        <li>
          Review and <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">submit the ARR</a> for contract number
          99017500001 before July 31st, 2024.
        </li>
      </ul>
    </div>
    <hr>
    <p><strong>Commissioner</strong></p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
          <span class="nhsuk-u-font-weight-bold">Name:</span> North East and North Cumbria ICB (QHM)
        </p>
      </li>
      <li>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
          <span class="nhsuk-u-font-weight-bold">ID:</span> 102897
        </p>
      </li>
      <li>
        <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
          <span class="nhsuk-u-font-weight-bold">Email Address:</span> <a
            href="#">nencicb-tv.financecntw@nhs.net</a>
        </p>
      </li>
    </ul>
    <!-- Summary Cards -->
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-24 nhsuk-u-margin-bottom-1">
              Contract value
            </p>
            <span>£120,000</span>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-24 nhsuk-u-margin-bottom-1">
              Contract period <span class="nhsuk-u-visually-hidden">Contract period</span>
            </p>
            <p class="nhsuk-u-margin-bottom-1">Start date: 1Apr 2024</p>
            <p>End date: 30 Mar 2025</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-24 nhsuk-u-margin-bottom-1">
              UDA
            </p>
            <p class="nhsuk-u-margin-bottom-1"><strong>10,321</strong>/21,253</p>
            <a href="#"
              class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">
              View activity actuals
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div class="nhsuk-u-margin-top-5">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/3-contract-management/contract-search-view-amend/v1/contract-view">
              Contract details
            </a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon"
            xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10"
              stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">
              Debt and activity status
            </a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon"
            xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10"
              stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">
              Contract history
            </a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon"
            xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10"
              stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">
              Pay statements
            </a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon"
            xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10"
              stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">
              Annual Reconciliation Report (ARR)
            </a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon"
            xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10"
              stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="nhsuk-u-margin-top-5">
      <h3 class="nhsuk-card__heading nhsuk-u-margin-bottom-0">
        Forecasted Payments
      </h3>
      <div class="nhsuk-inset-text nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p class="nhsuk-hint">
          These estimated figures are subject to change based on patient charges or modifications to service lines.
        </p>
      </div>
      <table class="nhsuk-table nhsuk-table-responsive nhsuk-u-margin-bottom-5">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Date
            </th>
            <th role="columnheader" class="" scope="col">
              Debt recovery
            </th>
            <th role="columnheader" class="" scope="col">
              Withhold amount
            </th>
            <th role="columnheader" class="" scope="col">
              Adjusted payment
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span> 23 July 2024
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Debt recovery </span>£3,000
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Withhold amount </span>£2,000
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Adjusted payment </span>£17,050
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span> 24 August 2024
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Debt recovery </span>£3,000
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Withhold amount </span>£2,000
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Adjusted payment </span>£22,542
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span> 23 September 2024
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Debt recovery </span>£0
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Withhold amount </span>£0
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Adjusted payment </span>£26,900
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="nhsuk-u-margin-top-5">
      <div class="nhsuk-multi-link-row-one">
        <h2 class="nhsuk-heading-m">Help and information</h2>
      </div>
      <ul class="nhsuk-list">
        <li>
          <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Contact NHS team</a>
        </li>
        <li>
          <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Knowledge base</a>
        </li>
      </ul>
    </div>
    <!-- End of content -->
  </div>
</div>

{% endblock %}
