<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Manage contracts
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- Back link -->
{% block outerContent %}
  <div class="nhsuk-back-link nhsuk-u-padding-top-3 nhsuk-u-padding-top-0 nhsuk-u-margin-bottom-0">
    <a class="nhsuk-back-link__link" href="/provider/contract-management/create/create-contract#activity-panel">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-4">
        Add Performer Activity
      </h1>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="performer-id">
          Performer ID
        </label>
        <input class="nhsuk-input" id="performer-id" name="performer-id" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="forename">
          Forename
        </label>
        <input class="nhsuk-input" id="forename" name="forename" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="surname">
          Surname
        </label>
        <input class="nhsuk-input" id="surname" name="surname" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="gdc-number">
          GDC Number
        </label>
        <input class="nhsuk-input" id="gdc-number" name="gdc-number" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="contracted-activity">
          Contracted Activity
        </label>
        <select class="nhsuk-select" id="contracted-activity" name="contracted-activity">
          <option value="1" selected>Select</option>
          <option value="2">Option 1</option>
          <option value="3">Option 2</option>
        </select>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="financial-year">
          Financial Year
        </label>
        <select class="nhsuk-select" id="financial-year" name="financial-year">
          <option value="1" selected>Select</option>
          <option value="2">Option 1</option>
          <option value="3">Option 2</option>
        </select>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="activity-value">
          Activity Value
        </label>
        <input class="nhsuk-input" id="activity-value" name="activity-value" type="text">
      </div>

      <div class="nhsuk-button-group nhsuk-u-margin-top-6">
        <a id="performer-activity-add" href="/provider/contract-management/create/create-contract#activity-panel" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
          Add
        </a>
        <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
          Add Another
        </button>
        <a href="/provider/contract-management/create/create-contract#activity-panel" class="nhsuk-link nhsuk-link--no-visited-state">Cancel</a>
      </div>

    </div>
  </div>
{% endblock %}
