<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Contract details
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/provider/landing-page",
        text: "Home"
      }
    ],
    href: "/provider/contract-management/create/create-contract",
    text: "Create Contract"
  }) }}
{% endblock %}

<!-- Back link -->
{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>
        IMPROVED CREATE CONTRACT WIP
      </h1>

    </div>
  </div>
{% endblock %}
