{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block outerContent %}
{{ backLink({
  href: "#",
  text: "Go back"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/close-requestor" method="post" class="form">

        <span class="nhsuk-caption-xl">Change contract end date</span>
        {{ radios({
          "idPrefix": "example",
          "name": "closeRequestor",
          "fieldset": {
            "legend": {
              "text": "Who has requested the change in end date?",
              "classes": "nhsuk-fieldset__legend--xl",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "Commissioner",
              "text": "Commissioner"
            },
            {
              "value": "Contract provider",
              "text": "Contract provider"
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
