{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            <span class="nhsuk-caption-xl">Change contract end date</span>
            Proposed end date is in the past
          </h1>

      <p>
        Financial reconciliation will be affected and payments may need to be claimed back. 
    </p>


      <a href="requestor" class="nhsuk-button">
        Continue
      </a>

    </div>

  </div>
{% endblock %}
