<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Contract details
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/hygiene/landing-page",
        text: "Home"
      },
      {
        href: "/hygiene/contract-management/contracts",
        text: "Contract Management"
      }
    ],
    href: "/hygiene/contract-management/9087654356",
    text: "9087654356"
  }) }}
{% endblock %}

<!-- Back link -->
{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <strong class="nhsuk-tag nhsuk-tag--green">
        Active
      </strong>

      <h1 class="nhsuk-u-margin-bottom-0">
        Contract Name
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">9087654356</span>
      </h1>
      <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
        <span class="nhsuk-u-font-weight-bold">Name:</span> Lara Atassi, 102897
      </p>
      <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
        <span class="nhsuk-u-font-weight-bold">Email Address:</span> lara.atassi@citycentredentists.co.uk
      </p>
      <p class="nhsuk-body-s">
        <span class="nhsuk-u-font-weight-bold">Phone:</span> +44 752 846 8520
      </p>

      <hr />

      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="/hygiene/contract-management/9087654356/general-information">General Information</a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Debt & Activity Status</a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-card-custom-container">
        <div class="nhsuk-card__content nhsuk-card__content--primary nhsuk-card-custom-content">
          <h3 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
            <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">CAF</a>
          </h3>
          <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle nhsuk-card-custom-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
