<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Manage contracts
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/hygiene/landing-page",
        text: "Home"
      }
    ],
    href: "/hygiene/contract-management/contracts",
    text: "Contract Management"
  }) }}
{% endblock %}

<!-- Back link -->
{% block outerContent %}
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1>
        Contract management
      </h1>

      <div class="nhsuk-custom-search-filter-container">
        <div class="nhsuk-custom-search">
          <input class="nhsuk-search__input nhsuk-custom-search-input" id="contract-search" name="contract-search" type="search" placeholder="Search" autocomplete="off">
          <button class="nhsuk-search__submit nhsuk-custom-search-icon" type="submit">
            <svg class="nhsuk-icon nhsuk-custom-search-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Search</span>
          </button>
        </div>
        <div class="nhsuk-custom-search-filter-text">
          <p id="expand-contract-filters" class="nhsuk-filter-text nhsuk-u-margin-bottom-0">Filters</p>
          <p id="close-contract-filters" class="nhsuk-filter-text nhsuk-u-margin-bottom-0" style="display: none;">Close filters</p>
          <p id="clear-contract-filters" class="nhsuk-filter-text nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-4" style="display: none;">Clear filters</p>
        </div>
      </div>

      <div id="filter-contract-container" class="nhsuk-filter-container">
        <h2 class="nhsuk-heading-s">Filters</h2>

        <div class="nhsuk-grid-row nhsuk-filter-box">
          <div class="nhsuk-grid-column-one-quarter">
            <div class="nhsuk-form-group">
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend">
                  Status
                </legend>
                <div class="nhsuk-checkboxes">
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contract-active-filter" name="contract-status" type="checkbox" value="active">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contract-active-filter">
                      Active
                    </label>
                  </div>
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contract-completed-filter" name="contract-status" type="checkbox" value="completed">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contract-completed-filter">
                      Completed
                    </label>
                  </div>
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contract-error-filter" name="contract-status" type="checkbox" value="error">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contract-error-filter">
                      Error
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-quarter">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="contract-type-filter">
                Contract Type
              </label>
              <select class="nhsuk-select" id="contract-type-filter" name="contract-type-filter">
                <option value="1" selected>Select</option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
              </select>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-quarter">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="provider-filter">
                Provider
              </label>
              <select class="nhsuk-select" id="provider-filter" name="provider-filter">
                <option value="1" selected>Select</option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
              </select>
            </div>
          </div>
        </div>

        <button id="apply-contract-button" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
          Apply filter
        </button>
      </div>

      <hr>

      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption" style="display: none;">Contracts</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Contract No
            </th>
            <th role="columnheader" class="" scope="col">
              Commissioner Name
            </th>
            <th role="columnheader" class="" scope="col">
              Provider
            </th>
            <th role="columnheader" class="" scope="col">
              Contract Type
            </th>
            <th role="columnheader" class="" scope="col">
              Contract Start Date
            </th>
            <th role="columnheader" class="" scope="col">
              Contract End Date
            </th>
            <th role="columnheader" class="" scope="col">
              Status
            </th>
            <th role="columnheader" class="" scope="col">
              
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9087654356</td>
            <td class="nhsuk-table__cell ">Cheshire and Merseyside ICB</td>
            <td class="nhsuk-table__cell">City Centre Dentists</td>
            <td class="nhsuk-table__cell">GDS</td>
            <td class="nhsuk-table__cell">01/04/2006</td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">Active</td>
            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/hygiene/contract-management/9087654356">View</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9712345675</td>
            <td class="nhsuk-table__cell ">Cheshire and Merseyside ICB</td>
            <td class="nhsuk-table__cell">310 Dental Care</td>
            <td class="nhsuk-table__cell">GDS</td>
            <td class="nhsuk-table__cell">01/04/2006</td>
            <td class="nhsuk-table__cell">31/03/2024</td>
            <td class="nhsuk-table__cell">Active</td>
            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/hygiene/contract-management/9087654356">View</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9384567876</td>
            <td class="nhsuk-table__cell ">Cheshire and Merseyside ICB</td>
            <td class="nhsuk-table__cell">Chirag Patel</td>
            <td class="nhsuk-table__cell">GDS</td>
            <td class="nhsuk-table__cell">01/04/2006</td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">Active</td>
            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/hygiene/contract-management/9087654356">View</a></td>
          </tr>
          <tr id="contract-filter-1" role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9087654356</td>
            <td class="nhsuk-table__cell ">Cheshire and Merseyside ICB</td>
            <td class="nhsuk-table__cell">Mr GS CHANA</td>
            <td class="nhsuk-table__cell">GDS</td>
            <td class="nhsuk-table__cell">01/04/2006</td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">Completed</td>
            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/hygiene/contract-management/9087654356">View</a></td>
          </tr>
          <tr id="contract-filter-2" role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9712635675</td>
            <td class="nhsuk-table__cell ">Cheshire and Merseyside ICB</td>
            <td class="nhsuk-table__cell">Mr GS CHANA</td>
            <td class="nhsuk-table__cell">GDS</td>
            <td class="nhsuk-table__cell">01/04/2006</td>
            <td class="nhsuk-table__cell">31/03/2024</td>
            <td class="nhsuk-table__cell">Completed</td>
            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/hygiene/contract-management/9087654356">View</a></td>
          </tr>
          <tr id="contract-filter-3" role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9334562876</td>
            <td class="nhsuk-table__cell ">Cheshire and Merseyside ICB</td>
            <td class="nhsuk-table__cell">Chirag Patel</td>
            <td class="nhsuk-table__cell">GDS</td>
            <td class="nhsuk-table__cell">01/04/2006</td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">Error</td>
            <td class="nhsuk-table__cell"><a class="nhsuk-link--no-visited-state" href="/hygiene/contract-management/9087654356">View</a></td>
          </tr>
        </tbody>
      </table>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    const filterContractExpand = document.getElementById('expand-contract-filters');
    const filterContractClose = document.getElementById('close-contract-filters');
    const filterContractContainer = document.getElementById('filter-contract-container');
    const filterContractButton = document.getElementById('apply-contract-button');
    const filterContractClear = document.getElementById('clear-contract-filters');
    const contractOne = document.getElementById('contract-filter-1');
    const contractTwo = document.getElementById('contract-filter-2');
    const contractThree = document.getElementById('contract-filter-3');

    function filterContractExpandFunction(item) { 
      if(item == 'expand') {
        filterContractExpand.style.display = 'none';
        filterContractClose.style.display = 'block';
        filterContractContainer.style.display = 'block';
      } else {
        filterContractExpand.style.display = 'block';
        filterContractClose.style.display = 'none';
        filterContractContainer.style.display = 'none';
      }
    }

    function contractClearFilterText(item) { 
      if(item == 'filtersActive') {
        filterContractClear.style.display = 'block';
        contractOne.style.display = 'none';
        contractTwo.style.display = 'none';
        contractThree.style.display = 'none';
      } else {
        filterContractClear.style.display = 'none';
        contractOne.style.display = 'table-row';
        contractTwo.style.display = 'table-row';
        contractThree.style.display = 'table-row';
        document.getElementById("contract-active-filter").checked = false;
        document.getElementById("contract-completed-filter").checked = false;
        document.getElementById("contract-error-filter").checked = false;
        document.getElementById("contract-type-filter").selectedIndex = 0;
        document.getElementById("provider-filter").selectedIndex = 0;
      }
    }

    filterContractExpand.addEventListener('click', ()=>{
      filterContractExpandFunction('expand');
    });

    filterContractClose.addEventListener('click', ()=>{
      filterContractExpandFunction();
    });

    filterContractButton.addEventListener('click', ()=>{
      contractClearFilterText('filtersActive');
    });


    filterContractClear.addEventListener('click', ()=>{
      contractClearFilterText();
    });
    
  </script>
{% endblock %}