<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-m">
        Commissioner (v1.0)
      </h1>

      <ul>
        <li>
          Recreation of the old compass tool using NHS Design System from a Commissioner's POV.
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/commissioner/landing-page">Demo prototype</a>

      <hr>

      <h1 class="nhsuk-heading-m">
        Provider (v1.1)
      </h1>

      <ul>
        <li>
          Improved amend contract journey.
        </li>
        <li>
          Recreation of the old compass tool using NHS Design System from a Providers's POV.
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/provider/landing-page">Demo prototype</a>

      <hr>

      <h1 class="nhsuk-heading-m">
        Clinician (v1.0)
      </h1>

      <ul>
        <li>
          Recreation of the old compass tool using NHS Design System from a Clinician's POV.
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/clinician/landing-page">Demo prototype</a>

    </div>
  </div>
{% endblock %}
