<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- Back link -->
{% block outerContent %}
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-m">
        General
      </h1>

      <ul>
        <li>
          Includes prototyped landing pages
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/1-general/contents">Demo prototype</a>

      <hr>

      <h1 class="nhsuk-heading-m">
        Contract Management
      </h1>

      <ul>
        <li>
          Contract view and amend, contract create, clinician activity statement search 
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/3-contract-management/contents">Demo prototype</a>

      <hr>

      <h1 class="nhsuk-heading-m">
        Debt Management
      </h1>

      <ul>
        <li>
          Managing and actioning debt associated with a contract in the New Dental System (NDS)
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/4-debt-management/contents">Demo prototype</a>

      <hr>

      <h1 class="nhsuk-heading-m">
        Provider Assurance
      </h1>

      <ul>
        <li>
          Includes general screens for Providers to review mid year details and screens for categorising a contract
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/5-provider-assurance/contents">Demo prototype</a>

      <hr>

      <h1 class="nhsuk-heading-m">
        Pension Management
      </h1>

      <ul>
        <li>
          Includes journeys for external users to submit ARR in New Dental System (NDS)
        </li>
      </ul>

      <a class="nhsuk-link-- no-visited-state" href="/provider/landing-page">Demo prototype</a>

      <hr>

      <h1 class="nhsuk-heading-m">
        Report management
      </h1>

      <ul>
        <li>
          Report management screens for user testing
        </li>
      </ul>

      <a class="nhsuk-link--no-visited-state" href="/reports/published-reports">Demo prototype</a>


    </div>
  </div>
{% endblock %}
