<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Manage contracts
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  <div class="nhsuk-back-link nhsuk-u-padding-top-3 nhsuk-u-padding-top-0 nhsuk-u-margin-bottom-0">
    <a class="nhsuk-back-link__link" href="/provider/contract-management/9087654356/general-information#clinician-panel">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-u-margin-bottom-4">
            Edit Clinician
          </h1>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="performer-id">
              Performer ID
            </label>
            <input class="nhsuk-input" id="performer-id" name="performer-id" type="text" value="123456789">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="forename">
              Forename
            </label>
            <input class="nhsuk-input" id="forename" name="forename" type="text" value="Tom">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="surname">
              Surname
            </label>
            <input class="nhsuk-input" id="surname" name="surname" type="text" value="Holland">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-weight-bold" for="gdc-number">
              GDC Number
            </label>
            <input class="nhsuk-input" id="gdc-number" name="gdc-number" type="text" value="12034">
          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">
              <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="performer-start-date">
                Performer Start Date
              </legend>
      
              <div class="nhsuk-date-input" id="performer-start-date">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric" value="01">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric" value="04">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2004">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
      
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">
              <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="performer-end-date">
                Performer End Date
              </legend>
      
              <div class="nhsuk-date-input" id="performer-end-date">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="end-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-day" name="end-day" type="text" pattern="[0-9]*" inputmode="numeric" value="18">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="end-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-month" name="end-month" type="text" pattern="[0-9]*" inputmode="numeric" value="05">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="end-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="end-year" name="end-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2018">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-6">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">Correspondence Address</h2>
            </legend>
          
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-line-1">
                Building and street <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
              </label>
              <input class="nhsuk-input" id="address-line-1" name="address-line-1" type="text" value="3 Pudding Plate Close">
            </div>
          
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-town">
                Town or city
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text" value="Darlington">
            </div>
          
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-county">
                County
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-county" name="address-county" type="text" value="Durham">
            </div>
          
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-u-font-weight-bold" for="address-postcode">
                Postcode
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text" value="SA1 3EN">
            </div>
          </fieldset>
        </div>
      </div>

      <hr />

      <h2>NPE/NPEE</h2>
      
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" role="group">
          <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="npe-npee-start-date">
            NPE/NPEE Start Date
          </legend>
  
          <div class="nhsuk-date-input" id="npe-npee-start-date">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
  
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" role="group">
          <legend class="nhsuk-label nhsuk-u-font-weight-bold" for="npe-npee-end-date">
            NPE/NPEE End Date
          </legend>
  
          <div class="nhsuk-date-input" id="npe-npee-end-date">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="end-day">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-day" name="end-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="end-month">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="end-month" name="end-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="end-year">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="end-year" name="end-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="employment-type">
          Employment Type
        </label>
        <select class="nhsuk-select" id="employment-type" name="employment-type">
          <option value="1" selected>Select</option>
          <option value="2">Option 1</option>
          <option value="3">Option 2</option>
        </select>
      </div>

      <form>
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-u-visually-hidden">
              Pension Scheme Member
            </legend>
    
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="pension-scheme-member" name="pension-scheme-member" type="checkbox" value="true">
                <label class="nhsuk-label nhsuk-u-font-weight-bold nhsuk-checkboxes__label" for="pension-scheme-member">
                  Pension Scheme Member
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="net-pensionable-earnings">
          Net Pensionable Earnings
        </label>
        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="net-pensionable-earnings" name="net-pensionable-earnings" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-font-weight-bold" for="net-pensionable-earnings-equivalent">
          Net Pensionable Earnings Equivalent
        </label>
        <input class="nhsuk-input nhsuk-u-width-two-thirds" id="net-pensionable-earnings-equivalent" name="net-pensionable-earnings-equivalent" type="text">
      </div>

      <button id="add-npe-npee-btn" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-4" data-module="nhsuk-button" type="submit">
        Add NPE/NPEE
      </button>

      <table id="npe-npee-row" role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
        <caption class="nhsuk-u-visually-hidden">Services Table</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Employment Type
            </th>
            <th role="columnheader" class="" scope="col">
              NPE/NPEE Start Date
            </th>
            <th role="columnheader" class="" scope="col">
              NPE/NPEE End Date
            </th>
            <th role="columnheader" class="" scope="col">
              NPE
            </th>
            <th role="columnheader" class="" scope="col">
              NPEE
            </th>
            <th role="columnheader" class="" scope="col">
              <span class="nhsuk-u-visually-hidden">Action</span>
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Employment Type </span>Employment Value
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">NPE/NPEE Start Date </span>12/04/2012
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">NPE/NPEE End Date </span>31/05/2012
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">NPE </span>19000.00
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">NPEE </span>0.00
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Action </span>
              <a id="delete-npe-npee-btn" href="#" class="nhsuk-link nhsuk-link--no-visited-state">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="nhsuk-button-group nhsuk-u-margin-top-6">
        <a id="add-clinician" href="/provider/contract-management/9087654356/general-information#clinician-panel" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit">
          Update
        </a>
        <a href="/provider/contract-management/9087654356/general-information#clinician-panel" class="nhsuk-link nhsuk-link--no-visited-state">Cancel</a>
      </div>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    const addClinicianBtn = document.getElementById('add-clinician');
    let hasContractEdit = localStorage['hasContractEdit'];

    addClinicianBtn.addEventListener('click', ()=>{
      localStorage['hasContractEdit'] = 'Yes';
    });
  </script>
{% endblock %}