<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'default-layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  New NPE/NPEE
{% endblock %}

<!-- Breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- Back link -->
{% block outerContent %}
  <div class="nhsuk-back-link nhsuk-u-padding-top-3 nhsuk-u-padding-top-0 nhsuk-u-margin-bottom-0">
    <a class="nhsuk-back-link__link" href="/provider/contract-management/9087654356/general-information#clinician-panel">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
      <h1 class="nhsuk-u-margin-bottom-4">
        Add NPE/NPEE
      </h1>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-fieldset__heading">
              Who is this earnings estimation for?
            </h2>
          </legend>
      
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Q1-Input1" name="Estimated_earnings" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="Q1-Input1">
                Ella Purnell
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Q1-Input2" name="Estimated_earnings" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="Q1-Input2">
                Matt Briton
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Q1-Input3" name="Estimated_earnings" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="Q1-Input3">
                Mei Li
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="Q1-Input4" name="Estimated_earnings" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="Q1-Input4">
                Tom Holland
              </label>
            </div>
          </div>
        </fieldset> 
      </div>

      <div id="questions-container" style="display: none;">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">
                Is the clinician a pension scheme member?
              </h2>
            </legend>
        
            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="Q2-Input1" name="pension-scheme" type="radio" value="yes" disabled>
                <label class="nhsuk-label nhsuk-radios__label" for="Q2-Input1">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="Q2-Input2" name="pension-scheme" type="radio" value="no" checked disabled>
                <label class="nhsuk-label nhsuk-radios__label" for="Q2-Input2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">
                Is this an NPE or NPEE estimation?
              </h2>
            </legend>
        
            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="Q3-Input1" name="npe-or-npee" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="Q3-Input1">
                  NPE
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="Q3-Input2" name="npe-or-npee" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="Q3-Input2">
                  NPEE
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
      
        <div id="questions-container-2" style="display: none;">

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">
              <legend class="nhsuk-heading-l" for="performer-start-date">
                What is the NPE start date?
              </legend>
      
              <div class="nhsuk-date-input" id="performer-start-date">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>

                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">
              <legend class="nhsuk-heading-l" for="performer-start-date">
                What is the NPE end date?
              </legend>
      
              <div class="nhsuk-date-input" id="performer-start-date">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>

                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>

                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h2 class="nhsuk-fieldset__heading">
                  What type of employment did the clincian have during this period?
                </h2>
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Self employed
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    Option 2
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    Option 3
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    Option 4
                  </label>
                </div>
              </div>
            </fieldset> 
          </div>
          

          <div class="nhsuk-form-group">
            <label class="nhsuk-heading-l" for="example">
              What is the clinician's estimated earnings during this NPE period?
            </label>
            <div class="nhsuk-input__wrapper">
              <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
              <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
            </div>
          </div>
        </div>  

        <div id="questions-container-3" style="display: none;">

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">
              <legend class="nhsuk-heading-l" for="performer-start-date">
                What is the NPEE start date?
              </legend>
      
              <div class="nhsuk-date-input" id="performer-start-date">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" role="group">
              <legend class="nhsuk-heading-l" for="performer-start-date">
                What is the NPEE end date?
              </legend>
      
              <div class="nhsuk-date-input" id="performer-start-date">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-day" name="start-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="start-month" name="start-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="start-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="start-year" name="start-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h2 class="nhsuk-fieldset__heading">
                  What type of employment did the clincian have during this period?
                </h2>
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Self employed
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    Option 2
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    Option 3
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    Option 4
                  </label>
                </div>
              </div>
            </fieldset> 
          </div>
          

          <div class="nhsuk-form-group">
            <label class="nhsuk-heading-l" for="example">
              What is the clinician's estimated earnings during this NPEE period?
            </label>
            <div class="nhsuk-input__wrapper">
              <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
              <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
            </div>
          </div>
        </div>
      </div>  

      <div class="nhsuk-button-group nhsuk-u-margin-top-6">
        <button id="save" class="nhsuk-button nhsuk-u-margin-bottom-0" data-module="nhsuk-button" type="submit" disabled>
          Save
        </button>
        <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Cancel</a>
      </div>

    </div>
  </div>
{% endblock %}    

{% block pageScripts %}
  <script>
    const q1Input1 = document.getElementById('Q1-Input1');
    const q1Input2 = document.getElementById('Q1-Input2');
    const q1Input3 = document.getElementById('Q1-Input3');
    const q1Input4 = document.getElementById('Q1-Input4');
    const questionContainer1 = document.getElementById('questions-container');
    const q2Input1 = document.getElementById('Q2-Input1');
    const q2Input2 = document.getElementById('Q2-Input2');
    const q3Input1 = document.getElementById('Q3-Input1')
    const q3Input2 = document.getElementById('Q3-Input2')
    const questionContainer2 = document.getElementById('questions-container-2');
    const questionContainer3 = document.getElementById('questions-container-3');
    const save = document.getElementById('save');

    q1Input1.addEventListener('click', ()=>{
      questionContainer1.style.display = 'block';
      q2Input1.checked = true;
      q2Input2.checked = false;
    });

    q1Input2.addEventListener('click', ()=>{
      questionContainer1.style.display = 'block';
      q2Input2.checked = true;
      q2Input1.checked = false;
    });

    q1Input3.addEventListener('click', ()=>{
      questionContainer1.style.display = 'block';
      q2Input1.checked = true;
      q2Input2.checked = false;
    });

    q1Input4.addEventListener('click', ()=>{
      questionContainer1.style.display = 'block';
      q2Input2.checked = true;
      q2Input1.checked = false;
    });
    
    q3Input1.addEventListener('click', ()=>{
      questionContainer3.style.display = 'none';
      questionContainer2.style.display = 'block';
      save.disabled = false;
    });

    q3Input2.addEventListener('click', ()=>{
      questionContainer2.style.display = 'none';
      questionContainer3.style.display = 'block';
      save.disabled = false;
    });





  </script>
{% endblock %}
